@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* FONT FAMILY OF OUTFIT */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* FONT FAMILY OF NUNITO */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* FONT FAMILY OF Quicksand*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* FONT FAMILY OF Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
/* FONT FAMILY OF Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root{
    --font-family-Poppins: "Poppins", serif;
    --font-family-Outfit: "Outfit", serif;
    --font-family-Nunito: "Nunito Sans", serif;
    --font-family-Quicksand: "Quicksand", serif;
    --font-family-Roboto: "Roboto Flex", serif;
    --font-family-Manrope: "Manrope", serif;
    --accent-color: #bd1315; 
    --nav-color: rgb(59, 59, 59);
}

body{
  font-weight: 500 !important;
    font-family: var(--font-family-Nunito);
}
.nav-item>.nav-link{
  font-weight: 900 !important;
}
.bg{
    background-color: var(--accent-color);
}
@media (max-width:992px) {
  .top_2{
padding: 10px 0px;
  }
}
.top_2{
  margin: 0px !important;
  padding: 0px !important;

  }
.btn_offcanvas{
  border: none !important;
  outline: none !important;
  position:absolute !important;
  right:0% !important;
  top: -60% !important;
}
.nav-item >.nav-link {
  font-size: 16px;
    padding: 8px 15px !important;
 color: rgb(59, 59, 59);
    font-weight: 400 !important;
    transition: 0.6s ease-in-out;
}
.dropdown-large:hover .nav-item >.nav-link {
color: white;
  background-color: var(--accent-color) !important;
}
.nav-item >.nav-link:hover{
 color: white;
  background-color: var(--accent-color);
}
.nav-item.dropdown:hover .nav-link,
.nav-item.dropdown .dropdown-menu.show + .nav-link {
    background-color: var(--accent-color) !important;
    color: white !important;
}
.fixed-nav{
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(60px);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
  transition: 0.6s ease-in-out !important;
}
.dropdown:hover .dropdown-menu{
    display: block !important;
    opacity: 1;
    transform: rotateX(0deg);

}
.offcanvas{
  width: 75% !important; 
  transition: 0.9s ease-in-out !important;
}

.dropdown-item{
    padding: 5px 5px;
}
.dropdown-menu{
    border-top: none !important;
    box-shadow: none !important;
    transition: 0.4s ease-in-out !important ;
 padding: 15px 8px;
 font-size: 13px;
 opacity: 0; 
}
.dropdown-item{
    color: var(--nav-color) !important;
    transition: 0.4s ease-in-out ;
    padding:7px 5px !important;
}
.dropdown-item:hover{
    color: white !important;
    background-color: var(--accent-color);
}
.carousel-item{   
    height: 80vh !important;
}
.carousel-item>img{
    position: absolute;
background-size: cover;
object-fit: cover;
height: 100%;
}
.carousel-item>div{
    height: 100%;
    width: 100%;
    position: absolute;
}
.btn1{
    border: none;
    position: relative;
  }
  .btn1:hover .btn1-span{
    height: 100%;
    color: white !important;
  }
  .btn1-span{
  color: transparent !important;
    transition: 0.6s ease-in-out !important;
    height: 10%;
    left: 0%;
    bottom: 0%;
    width: 100%;
    background-color: var(--accent-color);
    position: absolute;
  }

  .selc{
    border-bottom: 1px solid lightgray!important;
    background-color: transparent;
    border: none ;
    font-size: 13px !important;
  }
  .dr{
    color:  rgb(150, 147, 147);
  }
  .span-head{
    font-weight: 400;
    font-size: 14px;
    color:  rgb(105, 105, 105);

  }
  .border-left-box{
    border-left: 1px solid rgba(255, 255, 255, 0.534);
  }
  .obj-fit{
    object-fit: cover !important;
  }
  button{
    outline: none !important;

  }
  a{
    border: none !important;
    outline: none !important;
    text-decoration: none;
  }
.section-name{
  border: 1px solid rgba(211, 211, 211, 0.705);
  padding: 5px;
  border-radius: 20px;
}

.section-name>i{
  font-size: 13px;
  color: var(--accent-color);
  background-color: #bd131628;
  border-radius: 50%;
  color: var(--accent-color);
}
@media (max-width:576px) {
  .text_of_imrtc{
    text-align: center;
    font-size: 16px !important;
  }
}
.col-grey{
  color: rgb(112, 112, 112) !important;
}
.col-org{
  color: var(--accent-color);
}
.top_to_scrol_btn{
  position: fixed;
  background-color: var(--accent-color);
  z-index: 222;
  bottom: 3%;
  color: white !important;
  border-radius: 50%;
  border: 1px solid white !important;
  right: 2%;
  transition: 0.5s ease-in-out !important;
  padding: 12px 15px;

}
.img_certification{
  border-radius: 60%;
  height: 150px;
  object-fit: cover;
  background-position: center !important;
  background-size: cover;
}
.promo-thumb-icon{
  position: absolute;
  left: 30%;
top: -16%;
  background-color:var(--accent-color);
  border-radius: 50%;
  padding: 15px;
  border: 4px solid #ffffff;
  font-size: 28px !important;
  color:white !important;
}
.certification_main_div >div{
  border-radius: 5px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px ;
}

.promo-item{
  
  background-position: center !important;
  transform-style: preserve-3d; 
  transform:rotateY(0deg);
  backdrop-filter: blur(45px);
  transition: 0.6s ease-in-out !important;
}
.promo-item:hover{
  transform:rotateX(1deg);
  cursor: grab;
}

.promo-item:hover .rot-div {
  transform: rotateX(0deg) translateZ(30px) !important;
}
.rot-div{
 transform: translateZ(0px) ,translateX(0deg) !important;
  transition: 0.6s ease-in-out !important;
}
.main-img{
  border: 2px solid rgba(0, 0, 0, 0.226) !important;
  height: 140px;
  width: 140px;
  border-radius: 60% !important;
  object-fit: cover;
}

.promo-item:hover .btn_cert{
height: 100% !important;
color: white !important;
}

.imrtc_div>div>div{
  
  transition: 0.6s ease-in-out !important;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
/* background-color: rgb(238, 238, 238); */
}
.imrtc_div>div>div:hover{
  color: white !important;
}
.imrtc_div>div>div:hover .div-hover-card{
  height: 100%;
}
.imrtc_div>div>div:hover .imrtc_icon{
  background-color: white;
  color: var(--accent-color);

}
.imrtc_div>div>div:hover .tex{
  color: white !important;
}
.tex{
  transition: 0.6s ease-in-out !important;

}
.imrtc_icon{
  color: white;
  transition: 0.6s ease-in-out !important;

}
.div-hover-card{
  transition: 0.6s ease-in-out !important;
  width: 100%;
  left: 0%;
height: 1%;
bottom: 0%;
  z-index: -1;
  position: absolute;
  background-color: var(--accent-color);
}

.btn1-span2{
  border: 2px solid white !important;
}
.nav-item {
  position: relative !important; /* Navbar link ko reference banayega */
}

.dropdown-large {

  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, 
              rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, 
              rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset !important;
  border: none;
  position: absolute !important;
  width: 90vw !important;
  z-index: 1000; /* Ensure it stays on top */
  background: white; /* Background set for visibility */
  padding:10px 60px; /* Optional: Better spacing */
  border-radius: 8px; /* Optional: Rounded corners */
}
.dropdown-large1{
  width: 55vw;
}
.drh{
  /* display: block !important; */
  font-size: 12px;
  color: var(--accent-color);
}
.join_stundet_application_btn{
  padding: 40px;
  color: white;
  border-radius: 50%;
  background-color: var(--accent-color);
}
.border_right{
  border-right: 1px solid rgba(54, 54, 54, 0.274);
 }

/* FOOTER START */
footer{
  margin-top: 30px;
  background-color: var(--accent-color);
}
/* FOOTER END */